<div class="member">
  <a href="{{ .url | safeHTML }}"> 
    <div class="member-logo">
      {{ if .logo }}
        {{ if ge ( path.Ext .logo ) ".svg" }}
          <object data="{{ .logo | absURL }}" type="image/svg+xml">
      
            <!---Fallback--->
            Ihr Browser kann leider kein svg darstellen!  
          </object>
        {{ else }}
          <img src="{{ .logo | absURL }}"/>
        {{ end }}
      {{ else }}
        <img src="{{ "images/members/blank.png" | absURL }}" />
      {{ end }}
    </div>
    <h3>{{ .organization }}</h3>
    {{ with .country }}<span class="country">{{ . }}</span>{{ end }}
  </a>
</div>
